<template>
  <div>
    <form class="card" v-if="!logged" @submit.prevent="sudo">
      <p>
        <label>
          Mot de passe
          <input type="password" v-model="password" :class="error ? 'error' : ''">
        </label>
      </p>
      <p>
        <input type="submit" value="Soumettre">
      </p>
    </form>
    <div class="card" v-if="logged">
      <table v-if="requestsList.length > 0" class="striped">
        <thead>
          <tr>
            <th>Statut</th>
            <th>Utilisateur</th>
            <th>Machine ID</th>
            <th>IP</th>
            <th>Password</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="request in requestsList.filter(request => request.status>0)" :key="request.id">
            <td>{{request.status || ""}}</td>
            <td>{{request.user}} </td>
            <td>{{request.machine || ""}}</td>
            <td>{{request.address || ""}}</td>
            <td>{{request.password || ""}}</td>
            <td>
              <span v-if="request.status === 1">
                <button class="button text-success icon-only" @click="replyRequest(true, request.id)">✔</button>
                <button class="button text-error icon-only" @click="replyRequest(false, request.id)">❌</button>
              </span>
            </td>
          </tr>
        </tbody>
      </table>
      <div v-if="requestsList.length === 0" class="text-center text-dark">
        <i>Pas de requête actuellement</i>
      </div>
    </div>
  </div>
</template>

<script>

export default {
  name: "AdminPanel",
  data () {
    return {
      password: "",
      logged: false,
      error: false,
      requestsList: []
    }
  },
  mounted() {
    this.$io.on('disconnect', () => {
      this.logged = false
    })
  },
  methods: {
    sudo(){
      this.$io.emit('sudo', this.password, (callback) => {
        this.logged = callback
        if (callback) {
          this.$io.on('updateRequests', (msg) => {
            this.requestsList = msg
          })
        } else {
          this.error = true
        }

      })
    },
    replyRequest(accept,id){
      this.$io.emit(accept ? 'acceptRequest' : 'declineRequest', id)
    }
  }
}
</script>