<template>
  <div>
    <form class="card" @submit.prevent="requestHosting">
      <p>
        <label>
          Identifiant (email/nom.prénom/pseudo/...)
          <input type="text" v-model="user" :disabled="status > 0">
        </label>
      </p>
      <p>
        <input type="submit" value="Soumettre" :disabled="status > 0">
      </p>
    </form>
    <br>
    <div class="card ">
      <div class="row">
        <progress class="col" :value="displayedStatus" max="200"></progress>
      </div>
      <div class="row">
        <p class="text-center col">
          <span v-if="status === -1" class="bg-error text-white" disabled>Demande refusée</span>
          <template v-else-if="displayedStatus < 25">En attente de soumission</template>
          <template v-else-if="displayedStatus < 75">En attente d'approbation</template>
          <template v-else-if="displayedStatus < 125">Requête approuvée. Demande de création du serveur...</template>
          <template v-else-if="displayedStatus < 175">Création du serveur en cours...</template>
          <template v-else>Serveur créé.</template>
        </p>
      </div>
      <div class="text-center">
        <p v-if="address">
          Nom: <code>{{machine}}</code>
        </p>
        <p v-if="address">
          Adresse: <code>{{address}}</code>
        </p>
        <p v-if="address">
          Mot de passe: <code>{{password}}</code>
        </p>
      </div>

    </div>
  </div>
</template>

<script>
function sleep(ms) {
  return new Promise(resolve => setTimeout(resolve, ms));
}
export default {
  name: 'HelloWorld',
  data() {
    return {
      user: "",
      status: 0,
      password: "",
      address: "",
      machine: "",
      displayedStatus:0,
      multiplier: 50
    }
  },
  beforeMount() {
    this.$io.on('refreshClient', (data => {
      this.user = data.user
      this.status = data.status
      this.machine = data.machine
      this.password = data.password
      this.address = data.address
    }))
  },
  methods: {
    requestHosting: function () {
      this.$io.emit('requestHosting', this.user)
      
    }
  },
  watch: {
    status: function() {
      let moveto = (this.status*this.multiplier-this.displayedStatus) / Math.abs(this.status*this.multiplier-this.displayedStatus)
      this.displayedStatus += moveto
    },
    displayedStatus: async function () {
      if (this.status*this.multiplier !== this.displayedStatus){
        await sleep(20)
        let moveto = (this.status*this.multiplier-this.displayedStatus) / Math.abs(this.status*this.multiplier-this.displayedStatus)
        this.displayedStatus += moveto
      }
    }
  }
}
</script>

<style scoped>
progress {
  width: 60rem;
}
.bg-error {
  padding: 2px;
  border-radius: 4px;
}
</style>