<template>
  <body>
    <nav class="nav">
      <div class="nav-center">
        <a class="brand">
          <img src="/logo.png">
          Louvain-li-Nux
        </a>
      </div>
      <div class="nav-right">
        <input type="button" class="button " :class="admin_mode ? '' : 'outline'" @click="togglePanel" :value="admin_mode ? 'User mode' : 'Admin mode'">
      </div>
    </nav>
    <div class="container">
      <User v-show="!admin_mode"></User>
      <AdminPanel v-show="admin_mode"></AdminPanel>
    </div>

    <footer class="is-full-width" id="footer">
      <div class="row">
        <p class="col is-center">Louvain-li-Nux</p>
      </div>
    </footer>
  </body>
</template>

<script>
import User from './components/User'
import AdminPanel from './components/AdminPanel'

export default {
  name: 'App',
  components: {
    User,
    AdminPanel
  },
  data () {
    return {
      admin_mode: false
    }
  },
  methods: {
    togglePanel() {
      this.admin_mode = !this.admin_mode
    }
  }
}
</script>

<style>
.nav {
  padding: 0.5em;
}
</style>
