:root {
    --grid-maxWidth: 80rem;
}

.nav {
    box-shadow: 0 1px 3px rgba(0, 0, 0, .3);
    background-color: whitesmoke;
    z-index: 2;
    margin-bottom: 1em;
}

body > footer {
    background-color: #fafafa;
    padding: 4rem;
    margin-top: 1em;
    bottom: 0;
}

.fixed-footer {
    position: fixed;
    bottom: 0;
}
